body
 { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  font-family: Arial, sans-serif;
 }
 #categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category{
  display: flex;
  background-color: #439d84;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 14vw;
  height: 10vw;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.selected {
  background-color: #fff92e;
  color:black;
}
 .controlContainer {
    display: flex;
    width: 99vw;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
 }
 #start {
  width: 20vw;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

#difficulty {
height: 40px;
width: 180px;
padding: 5px;
outline: none;
border-radius: 5px;
border: 1px solid lightgray;
font-size: 16px;
font-weight: bold;
}
label {
font-weight: bold;
}

.quizContainer { 
    display: none;
    flex-direction: column;
    margin: auto; 
    align-items: center;
}
#counter {
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
}
.question { 
    display: none;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.2em; 
    margin-bottom: 1em; 
    background: #3fb1ad;
    color: white;
    border-radius: 20px;
    width: 30vw;
    height: 120px;

}
.options { 
  list-style: none; 
  padding: 0; 
}
.options li { 
    display: flex;
    margin: 0.5em 0;
    background: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    width: 30vw;
    height: 60px;
    cursor: pointer;
    align-items: center;
    border-radius: 30px;  
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  }
.options li.correct {
    background-color: #08bf95b3;
    color: white;
  }
  
  .options li.incorrect {
    background-color: #cb053cb8;
    color: white;
  }
 
.score { margin-top: 1em; font-size: 1.2em; }


.score {
  margin-top: 0px;
  width: 30vw;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  border-radius:5px;
}
.scoreContainer {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}

#returnButton
{
  background: #2bb9b4;
  border:none;
  color: whitesmoke;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
