#progress-ring {
  width:400px;
  height: 400px;
  background-color: #ECE8EF;
}

.progress-ring__background {
  fill:white;
  stroke-width: 16;
  stroke:lightgrey;
}
.progress-ring__circle{
  fill: transparent;
  stroke-width: 16;
  stroke: #34D1BF;
}

#progress-text {
  text-anchor: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  fill:#011936;
}