.table-responsive{
    width:100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th,td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    outline-color: #dddddd7a;
    padding-left: 35px;
    padding-right: 35px;
    text-align: left;

}

th{
    background-color: #3A3335;
    color: white;
}
th:first-child{
    border-top-left-radius: 10px;
}
th:last-child{
    border-top-right-radius: 10px;
}
tr:nth-child(even) {
    background-color: #DBD4D3;
}
tr:nth-child(odd) {
    background-color: whitesmoke;
}

img{
    width:60px;
    height: 60px;
    border-radius: 50%;
}

#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
}
#pagination a {
    color:black;
    float: left;
    padding: 9px 9px;
    margin: 3px;
    text-decoration: none;
    cursor: pointer;
}
#pagination a.active {
    border-radius: 50%;
    background-color: #4c4a4a;
    color: whitesmoke;
}

#pageNumbersContainer{
    display: flex;
    flex-wrap: wrap;
}
#pageNumbers {
    display: flex;
    padding: 2px;
}

input[type=number]{
    width: 40px;
    height: 25px;
    border: 1px solid lightgray;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    outline: none;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#goToPage {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
#goToPage button {
    height: 35px;
    padding: 10px;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #4c4a4a;
    color: whitesmoke;
    cursor: pointer;
}
#entriesDisplayDiv{
    display: flex;
    padding-left: 25px;
}
#entriesDisplayDiv span {
    margin-left: 5px;
    margin-right: 5px;
}
.export {
    display: flex;
    cursor: pointer;
    margin: 5px;
    margin-left: 20px;
    padding: 15px;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #000000cf;
    color: whitesmoke;
    font-weight: bold;
}
#exportContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: white;
    padding-right: 15px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
select {
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    table,thead,tbody,th,tr {
        display: block;
    }
    thead tr {
        display: none;
    }
    tr{
        margin: 0 0 1rem 0;
        border-radius: 5px;
    }
    tr:nth-child(even) {
        background-color: #DBD4D3;
    }
    tr:nth-child(odd) {
        background-color: whitesmoke;
    }
    td{
        border-bottom: 2px solid #e3dfdf;
        position: relative;
        padding-left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    td:last-child{
        border-bottom: none;
    }
    td::before {
        position: absolute;
        left: 16px;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
    td:nth-of-type(1)::before{content:"Name";}
    td:nth-of-type(2)::before{content:"Description";}
    td:nth-of-type(3)::before{content:"Date";}
    td:nth-of-type(4)::before{content:"Status";}
    td:nth-of-type(5)::before{content:"Action";}
}

