.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 1%;
  height: 1%;
  overflow: hidden;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-header {
  padding: 1px 16px;
  background-color: #dddddd;
  cursor: move;
  box-shadow: 12px 12px 16px 0 rgba(255,255,255,0.3) inset,-8px -8px 12px 0 rgba(0,0,0,0.25) inset;
  min-height: 30px;
  align-items: center;
  display: flex;
}

.modal-body {
  margin: auto;
  width: 80%;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
.close {
  align-items: center;
  position: relative;
  cursor: pointer;
  left:99%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  font-size: 8px;
  color: whitesmoke;
}
.close:hover {
  background-color: rgb(65,65,65);
}