body {
  font-family: arial;
  margin:0;
  padding:0;
  display: flex;
  min-height: 100vh;
  font-weight: bold;
}
.input-container {
  border:1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin:0 auto;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-image: linear-gradient(to bottom right, #555,#111);
}

.input-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding:10px;
  margin-left: -20px;
  margin-right: -20px;
  background-image: linear-gradient(to right, #014227,#1e8585);
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  color: whitesmoke;
  text-align: left;
  background-color: #086e6e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4px;
}
input[type="number"] {
  width:280px;
  height:50px;
  border:none;
  text-align: center;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
input[type="number"]:focus {
  outline: none;
}
.input-container div {
  display: flex;
  margin-bottom: 15px;
}
#reset{
  width:100px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
}