body{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    margin: 0;
    background-color: #eff5fb;
}

#usernameInput {
    margin: 5px;
    width: 50vw;
}
#setUsernameButton{
    width: 110px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#setUsernameButton:hover {
    background-color: whitesmoke;
}

#chat {
    display: none;
    padding: 10px;
}
#messageInput {
    flex-grow: 1;
}
.username {
    color: green;
    margin:5px;
}
input {
    height: 50px;
    margin-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#sendButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: skyblue;
    color: white;
    font-size: large;
    cursor: pointer;
}
#sendButton:hover {
    background-color: deepskyblue;
}

#messages {
    overflow-y: auto;
    padding: 10px;
}
.messageContent {
    margin: 5px;
}
.message {
    height: fit-content;
    border: none;
    background-color: white;
    max-width: 80vw;
    max-height: 80vh;
    width: fit-content;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}