.goBoard {
  display: grid;
  grid-template-columns: repeat(11,1fr);
  gap:0;
  width: 55vw;
  background-image: url(wood.jpg);
}
.cell {
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
.cell:hover {
  background-color: rgb(187,185,188);
}
.coords {
  position: relative;
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.line {
  position: absolute;
  background-color: black;
}
.horizontal {
  width: 100%;
  height: 1px;
  top:50%;
}

.vertical {
  width: 1px;
  height: 100%;
  left: 50%;
}
.star {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top:0%;
  left: 0%;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
.piece {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top:0%;
  left: 0%;
}
.black img,.white img {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
@media (max-width:650px) {
  .coords {
    font-size: large;
  }
}


#alert {
  position: fixed;
  display: none; 
  background: black;
  border-radius: 5px;
  top: 28.5vw;
  left:28.5vw;
  transform: translate(-50%,-50%);
  color: indianred;
  width: 40vw;
  height: 7vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  z-index: 1000;

}