.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 20px 0;
}

.grid-item {
  text-align: center;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.image-title {
  margin-top: 8px;
  font-size: 14px;
}

.loading-text {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 96vw;
}
.load-more-button:hover {
  background-color: #2b2b2c;
}

.end-text {
  text-align: center;
  font-size: 16px;
  color: gray;
  margin-top: 10px;
}
















